
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(15, 143, 182) ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

#game-canvas{
    
    display:block;
    height: 90vh;         
    width: auto; 

    image-rendering: pixelated;
    image-rendering: crisp-edges;
 
}
#buttons {
    display: flex;
    gap: 12px;

}



.bnt-pause{

    width: 128px;
    height: 128px;
    
    background-image: url("../assets/button_pause.png");
    background-size: 128px 128px;
    border: none;
    padding: 0;
    cursor: pointer;
    image-rendering: pixelated;
    background-color: transparent;
    background-repeat: no-repeat;


}

.bnt-restart{
    width: 128px;
    height: 128px;
    background-image: url("../assets/button_restart .png");
    background-size: 128px 128px;
    background-repeat: no-repeat;
    background-color: transparent;
    image-rendering: pixelated;
    border: none;
    cursor: pointer;
    border: none;
}


