
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(16, 107, 134) ;
    display: flex;
    flex-direction: column;


}
#game-canvas{
    display:block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#buttons {
    display: flex;
    gap: 12px;

}



.bnt-pause{

    width: 64px;
    height: 64px;
    
    background-image: url("../assets/button_pause.png");
    border: none;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;


}

.bnt-restart{
    width: 64px;
    height: 64px;
    background-image: url("../assets/button_restart .png");
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}


